
<div class="container">
  <div class="row">
    <div class="col-md-12 align-middle">
      <h1>Footyverse</h1>
      <p>Football Management RPG</p>
    </div>
  </div>
  <div class = "row">
    <div class="omb_login">
      <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3>
      <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2 col-md-12">
          <button type="button" class="btn btn-lg btn-block omb_btn-facebook"(click)="tryFacebookLogin()"><i class="fa fa-facebook visible-xs"></i><span class="hidden-xs">Facebook</span></button>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-12">
          <button type="button" class="btn btn-lg btn-block omb_btn-google"(click)="tryGoogleLogin()"><span class="hidden-xs">Google</span></button>
        </div>
      </div>
      <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6 col-md-12">
          <hr class="omb_hrOr">
          <span class="omb_spanOr">or</span>
        </div>
      </div>

      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6 col-md-12">
          <form [formGroup]="loginForm" class="omb_loginForm" action="" autocomplete="off">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input formControlName="emailAddress" type="text" class="form-control" name="username" placeholder="email address">
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <span class="help-block">Password error</span>

            <button (click)="tryEmailLogin()" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>
      </div>
      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-3 col-md-12">
          <label class="checkbox">
            <input type="checkbox" value="remember-me">Remember Me
          </label>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-12">
          <p class="omb_forgotPwd">
            <a href="#">Forgot password?</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
