<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    FootyVerse Dev Server - Alpha Build
  </h1>
  Football Management Sim - Open Source Development
</div>
<div>
  <p>Focus is open source development of a soccer management simulation allowing management of individual players, teams, and also the league. A mixture of light RPG elements and heavy futbol management elements.</p>
  <p>The infrastructure is built on Google Cloud running on a Node JS / Angular 5 stack for ease of scalabilty and growth. I am making the project fully open source (which is a first for me).</p>
  <p>My goal with this project is to challenge myself, enjoy honing my development, and hopefully by making it open-source learn from like minded developers along the way.</p>
</div>
<h2>Track Development: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/icekode">GitHub Source</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/orgs/icekode/projects/1">Project Tracker</a></h2>
  </li>
  <li>
    <h2>As of 5/6/2018 working on finishing up the first version of the match engine. The game is kinda built around that. Everything else if fancy CRUD!</h2>
  </li>
</ul>
<div>
  <ng-adsense></ng-adsense>
</div>

